#title{

  background-color:#ff4c68;
  color: #fff;

}
body{
    font-family: "Montserrat";
}
.container-fluid{
  padding: 3% 15% 7%;
}
.h1,h1{
  font-family: "Montserrat-Black 900";
  font-size:3.5rem;
  line-height: 1.5;
  font-weight: 900;

}
#h2test,h2{
  font-family:inherit;
  font-size: 3rem;
  line-height: 1.5;
}

.row{
  margin: 0;
}

/*Testimonials*/
#testimonials{
  text-align:center;
  background-color:white;
  color: Black;
  padding: 50px;
  margin: 50px;
}

/*testimonials-image*/
.testimonials-image{

  margin: 20px;
}
#press{
  background-color:#ef8172;
  text-align: center;
  padding-bottom: 3%;
}

/*press-logo*/
.press-logo{
  width: 15%;
  margin: 20px 20px 50px;

}
.col-md-3{
  background-color:#f7faf4;

}
.col-md-3:hover{


  background-color: #e1e9d8;
}
#carousel-control-prev{
  margin: auto;
  width: 40px;
  height: 40px;
  background-color: #2e2a39;
  border-radius: 5px;

  margin-left: 13%;
}

#carousel-control-next{
  margin: auto;
  width: 40px;
  height: 40px;
  background-color: #2e2a39;
  border-radius: 5px;

  margin-right: 13%;
}




@media (max-width: 1028px) {
  #title{
    text-align: center;
  }

}
